<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148865850063-ta9hfvruv5u7dq9kv0qn735jdfua3ius.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148865850063-ta9hfvruv5u7dq9kv0qn735jdfua3ius</string>
	<key>API_KEY</key>
	<string>AIzaSyDbdWnKzBrH2yiG2OFEC2qzmk5eFi_GGto</string>
	<key>GCM_SENDER_ID</key>
	<string>148865850063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myorg.dashboardLogin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authuser-6dec7</string>
	<key>STORAGE_BUCKET</key>
	<string>authuser-6dec7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148865850063:ios:f8f08b369850d0319cb5ba</string>
</dict>
</plist>